<p id="notice"><%= notice %></p>

<h1>Listing Badan Kehormatans</h1>

<table>
  <thead>
    <tr>
      <th>Parliament member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badan_kehormatans.each do |badan_kehormatan| %>
      <tr>
        <td><%= badan_kehormatan.parliament_member_id %></td>
        <td><%= link_to 'Show', badan_kehormatan %></td>
        <td><%= link_to 'Edit', edit_badan_kehormatan_path(badan_kehormatan) %></td>
        <td><%= link_to 'Destroy', badan_kehormatan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badan kehormatan', new_badan_kehormatan_path %>
