<p id="notice"><%= notice %></p>

<h1>Listing Commisions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commisions.each do |commision| %>
      <tr>
        <td><%= commision.name %></td>
        <td><%= commision.position %></td>
        <td><%= link_to 'Show', commision %></td>
        <td><%= link_to 'Edit', edit_commision_path(commision) %></td>
        <td><%= link_to 'Destroy', commision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commision', new_commision_path %>
