<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h3 class="lead"><%= @commision.name.upcase %></h3>
      <table class='table table-hover table-striped'>
        <tr>
          <th>Nama</th>
          <th>Jabatan</th>
        </tr>
        <tr>
          <% @member_commisions.each do |member_commision| %>
          <td><%= member_commision.parliament.name %></td>
          <td><%= member_commision.structural.name.titleize %></td>
          <% end %>
        </tr>
      </table>
      <br />




      <%= link_to 'Edit', edit_commision_path(@commision), class: 'btn btn-warning' %>&nbsp;&nbsp;
      <%= link_to 'Kembali', member_commisions_path, class: 'btn btn-default' %>


    </div>
    <div class="col-sm-4 col-md-4">
      <%= render 'shared/komisi_panel' %>
    </div>
  </div>
</div>
