<p id="notice"><%= notice %></p>

<h1>Listing Badan Anggarans</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badan_anggarans.each do |badan_anggaran| %>
      <tr>
        <td><%= badan_anggaran.level %></td>
        <td><%= link_to 'Show', badan_anggaran %></td>
        <td><%= link_to 'Edit', edit_badan_anggaran_path(badan_anggaran) %></td>
        <td><%= link_to 'Destroy', badan_anggaran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badan anggaran', new_badan_anggaran_path %>
