<p id="notice"><%= notice %></p>

<h1>Listing Dapils</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dapils.each do |dapil| %>
      <tr>
        <td><%= dapil.name %></td>
        <td><%= link_to 'Show', dapil %></td>
        <td><%= link_to 'Edit', edit_dapil_path(dapil) %></td>
        <td><%= link_to 'Destroy', dapil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dapil', new_dapil_path %>
