<%= simple_form_for(@structure_fraction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :parliament_member, label: "Nama Anggota" %>
    <%= f.association :level, label: "Jabatan Dalam  Fraksi" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
