<h3>Daftar Fraksi</h3>

<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>Nama Fraksi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organize_fractions.each do |organize_fraction| %>
      <tr>
        <td><%= organize_fraction.name %></td>
        <td><%= link_to 'Show', organize_fraction %></td>
        <td><%= link_to 'Edit', edit_organize_fraction_path(organize_fraction) %></td>
        <td><%= link_to 'Destroy', organize_fraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organize fraction', new_organize_fraction_path %>
