<div class="container">
  <%# if user_signed_in? %>
  <div class = "row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= link_to 'Buat Berita', new_information_path, class: "btn btn-success", remote: true %>
    </div>
  </div>
  <%# end %>
  <br>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <section class="information_index">
        <%= render 'index' %>
      </section>
      <div id="information_modal" class="modal fade"></div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <section>
        <article>
          <h3 class="lead">Index Berita</h3>
          <% @information_sort_date.each do |date, title| %>
          <p>
            <%= date.strftime("%d-%m-%Y") %>
            <% title.each do |t| %>
            <%= truncate(t.title, length: 30, escape: true) %>
            <%= link_to "...", t %>
            <% end %>
          </p>
          <% end %>
        </article>
      </section>
    </div>
  </br>
  </div>
</div>
