<p id="notice"><%= notice %></p>

<h1>Listing Badan Musyawarahs</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badan_musyawarahs.each do |badan_musyawarah| %>
      <tr>
        <td><%= badan_musyawarah.level %></td>
        <td><%= link_to 'Show', badan_musyawarah %></td>
        <td><%= link_to 'Edit', edit_badan_musyawarah_path(badan_musyawarah) %></td>
        <td><%= link_to 'Destroy', badan_musyawarah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badan musyawarah', new_badan_musyawarah_path %>
