<%= simple_form_for @fraction do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nama Fraksi' %>
    <div id="tasks">
      <% f.simple_fields_for :parliament_members do |parliament| %>
        <%= render 'parliament_fields', f: parliament %>
        <div class="links">
            <%= link_to_add_association 'Tambah Anggota', f, :parliament_members %>
        </div>

      <% end %>
    </div>

    <%#= f.simple_fields_for :levels do |l| %>
      <%#= render 'level_fields', f: l %>
    <%# end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
