<%= simple_nested_form_for @fraction do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label: 'Nama Fraksi' %>

      <%= f.simple_fields_for :structure_fractions, @fraction.structure_fractions.build do |s| %>
        <%= render 'structure_fraction_fields', f: s %><%= s.link_to_remove 'remove' %>
      <% end %>
      <%= f.link_to_add 'Tambah Anggota', :structure_fractions %>

  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
