<div class="container">
  <div class="row">
      <% if @fractions.present? %>
          <div class='col-sm-6 col-md-6'>
              <h3 class="lead">Daftar Fraksi <%= link_to 'Buat Fraksi', new_fraction_path, class: "btn btn-default" %> </h1>
            <% @fractions.each do |f| %>
              <% if f.member_fractions.present? %>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <h3 class='panel-title'><%= f.name.upcase %></h3>
                  </div>
                  <div class='panel-body'>
                    <table class='table table-hover table-stripped'>
                        <tr>
                          <th>Nama</th>
                          <th>Jabatan</th>
                        </tr>
                        <% f.member_fractions.each do |member|  %>
                        <tr>
                          <td><%= member.parliament.name %></td>
                          <td><%= member.structural.name %></td>
                        </tr>
                        <% end %>
                    </table>
                  </div>
                </div>
              <% end %>
            <% end %>
            <br>
          </div>
          <div class='col-sm-4 col-md-4'>
            <%= render 'shared/fraksi_panel' %>
          </div>
      <% end %>
  </div>
</div>
