<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h3 class="lead"><%= @fraction.name.upcase %>&nbsp;&nbsp;  <%= link_to 'Edit', edit_fraction_path(@fraction), class: 'btn btn-warning' %></h3>
      <table class='table table-hover table-striped'>
        <tr>
          <th>Fraksi</th>
          <th>Anggota</th>
        </tr>
        <% @member_fractions.each do |member_fraction| %>
        <tr>
          <td><%= member_fraction.parliament.name  %></td>
          <td><%= member_fraction.structural.name.titleize   %></td>
        </tr>
        <% end %>
      </table>
      <br />

    </div>
    <div class="col-sm-4 col-md-4">
      <%= render 'shared/fraksi_panel' %>
    </div>
  </div>
</div>
