
<nav class="navbar nav-inline navbar-full navbar-light bg-faded pull-right">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">DPRD Bone</a>
    <div id="navbar-example">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Beranda", root_url, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a  class="nav-link" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profil
            </a>
            <div class="dropdown-menu" aria-labelledby="dLabel" >
              <%= link_to "Profil DPRD", anggota_wakil_rakyat_path, class: "dropdown-item" %>
              <%= link_to "Visi Misi", "#", class: "dropdown-item" %>
              <%= link_to "Hak Dan Kewajiban", "#", class: "dropdown-item" %>
              <%= link_to "Sejarah", "#", class: "dropdown-item" %>
              <%= link_to "Tugas Dan Wewenang", "#", class: "dropdown-item" %>
            </div>
        </li >

        <li class="nav-item dropdown">
          <a class="nav-link" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wakil Rakyat
         </a>
             <div class="dropdown-menu" aria-labelledby="dLabel" >
              <%= link_to "Anggota", anggota_wakil_rakyat_path, class: "dropdown-item" %>
              <%= link_to "Komisi", "#", class: "dropdown-item" %>
              <%= link_to "Fraksi", "#", class: "dropdown-item" %>
             </div>
         </li >

         <li class="nav-item dropdown">

             <a  class="nav-link " id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Galeri
             </a>
             <div class="dropdown-menu" aria-labelledby="dLabel" >
               <%= link_to "Kegiatan", kegiatan_path, class: "dropdown-item" %>
               <%= link_to "Produk Hukum", "#", class: "dropdown-item" %>
             </div>

         </li >

         <li class="nav-item">
               <%= link_to "Alat Dan Kelengkapan", alat_dan_kelengkapan_path, class:"nav-link" %>
         </li>

         <li class="nav-item">
               <%= link_to "Kontak", "#", class:"nav-link" %>
         </li>

    </div>

      <!-- <li class="nav-item dropdown">
        <a  class="nav-link "  href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Berita
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel" >
            <%#= link_to "Semua Berita", "#", class: "dropdown-item" %>
            <%#= link_to "Internal", "#", class: "dropdown-item" %>
            <%#= link_to "Nasional", "#", class: "dropdown-item" %>
            <%#= link_to "Umum", "#", class: "dropdown-item" %>
            <%#= link_to "Pengumuman", "#", class: "dropdown-item" %>
            <%#= link_to "Seputar Bone", "#", class: "dropdown-item" %>
          </div>
      </li > -->
      <!-- <li class="nav-item dropdown">
        <a  class="nav-link "  href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kepegawaian
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel" >
            <%#= link_to "Mutasi", "#", class: "dropdown-item" %>
            <%#= link_to "Pensiun", "#", class: "dropdown-item" %>
            <%#= link_to "Cuti", "#", class: "dropdown-item" %>
            <%#= link_to "Karpeg", "#", class: "dropdown-item" %>
            <%#= link_to "Ijin Belajar Dan Tugas Belajar", "#", class: "dropdown-item" %>
            <%#= link_to "Kartu Pegawai Elektronik", "#", class: "dropdown-item" %>
            <%#= link_to "Pendidikan Dan Pelatihan", "#", class: "dropdown-item" %>
          </div>
      </li > -->

      <!-- <li class="nav-item dropdown">
        <a  class="nav-link "  href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Statistik
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel" >
            <%#= link_to "Golongan", "#", class: "dropdown-item" %>
            <%#= link_to "Jenis Kelamin", "#", class: "dropdown-item" %>
            <%#= link_to "Pendidikan", "#", class: "dropdown-item" %>
            <%#= link_to "Eselon", "#", class: "dropdown-item" %>
          </div>
      </li > -->

      <!-- <li class="nav-item dropdown">
        <a  class="nav-link "  href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Layanan Kepegawaian
          </a>
          <div class="dropdown-menu" aria-labelledby="dLabel" >
            <%#= link_to "Izin Belajar", "#", class: "dropdown-item" %>
            <%#= link_to "Kepangkatan", "#", class: "dropdown-item" %>
          </div>
      </li > -->
    </ul>
  </div>
</nav>
<br>
