<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <% cache do %>
      <%= link_to 'DPRD Bone', '#', class: 'navbar-brand hidden-xs hidden-sm', scale: 0.5 %>
    <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right " id="nav">

        <li><%= link_to "Beranda", root_url %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Wakil Rakyat <span class="caret"></span>
    </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Anggota", "#" %></li>
            <li><%= link_to "Komisi", '#' %></li>
            <li><%= link_to "Fraksi" %></li>
          </ul>
        </li>
        <li><%= link_to "Info", "#" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Profil<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Sejarah", "#" %></li>
            <li><%= link_to "Visi Misi", '#' %></li>
            <li><%= link_to "Hak Dan Kewajiban" %></li>
            <li><%= link_to "Tugas Dan Wewenang" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Alat Dan Kelengkapan<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Panitia Khusus", "#" %></li>
            <li><%= link_to "Badan Kehormatan", '#' %></li>
            <li><%= link_to "Badan Legislasi" %></li>
            <li><%= link_to "Badan Anggaran" %></li>
            <li><%= link_to "Badan Musyawarah" %></li>
          </ul>
        </li>
        <li><%= link_to "Produk Hukum", "#"  %></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
