<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h3 class="lead">Daftar Komisi</h3>
      <hr >
    </div>

    <% @comissions.each do |comission| %>
      <h3 class="lead">Komisi <%= commission.code %> <%= comission.name %></h3>
      <p><%= comission.comment %></p>
      <br>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Anggota</th>
            <th>Fraksi</th>>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% commission.fractions.each do |fraction|  %>
            <tr>
              <td><%= fraction.member.name %></td>
              <td><%= fraction.name %></td>
              <td><%#= link_to 'Edit', edit_comission_path(comission) %></td>
              <td><%#= link_to 'Destroy', comission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br>
  </div>
  <div class="row">
    <div>
      <%= link_to "Buat komisi", new_comission_path, class: "btn btn-success" %>
    </div>

  </div>
</div>
