<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#panitia_khusus" role="tab" aria-controls="panitia_khusus">Panitia Khusus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#badan_kehormatan" role="tab" aria-controls="badan_kehormatan">Badan Kehormatan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#badan_legislasi" role="tab" aria-controls="badan_legislasi">Badan Legislasi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#badan_anggaran" role="tab" aria-controls="badan_anggaran">Badan Anggaran</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#badan_musyawarah" role="tab" aria-controls="badan_musyawarah">Badan Musyawarah</a>
    </li>
  </ul>

</div>
<br>
<div class="tab-content">
  <div class="tab-pane fade active" id="panitia_khusus" role="tabpanel"><%= render 'panitia_khusus' %></div>
  <div class="tab-pane fade" id="badan_kehormatan" role="tabpanel"><%= render 'badan_kehormatan' %></div>
  <div class="tab-pane fade" id="badan_legislasi" role="tabpanel"><%= render 'badan_legislasi' %></div>
  <div class="tab-pane fade" id="badan_anggaran" role="tabpanel"><%= render 'badan_anggaran' %></div>
  <div class="tab-pane fade" id="badan_musyawarah" role="tabpanel"><%= render 'badan_musyawarah' %></div>
</div>

<script>
    
</script>
