<section>
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
          <li role="presentation" class="active page-scroll"><a href="#panitia_khusus">Panitia Khusus</a></li>
          <li role="presentation" class="page-scroll"><a href="#badan_kehormatan">Badan Kehormatan</a></li>
          <li role="presentation" class="page-scroll"><a href="#badan_legislasi">Badan Legislasi</a></li>
          <li role="presentation" class="page-scroll"><a href="#badan_anggaran">Badan Anggaran</a></li>
          <li role="presentation" class="page-scroll"><a href="#badan_musyawarah">Badan Musyawarah</a></li>
      </ul>
    </div>
  </div>

</section>
<section id="Panitia Khusus">
  <%= render 'panitia_khusus' %>
</section>
<section id="badan_kehormatan">
  <%= render 'badan_kehormatan' %>
</section>
<section id="badan_legislasi">
  <%= render 'badan_legislasi' %>
</section>
<section id="badan_anggaran">
  <%= render 'badan_anggaran' %>
</section>
<section id="badan_musyawarah">
  <%= render 'badan_musyawarah' %>
</section>
