<div class="container">
  <div class="row">
    <%= simple_form_for(@parliament_member) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, label: "Nama" %>
        <%= f.association :fraction, label: "Fraksi" %>
        <%= f.association :level, label:"Jabatan Fraksi" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
