<div class="container">
  <div class="row">
    <h3 class="lead">Daftar Wakil Rakyat DPRD Bone</h3>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Fraksi</th>
          <th>Dapil</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @parliament_members.each do |parliament_member| %>
          <tr>
            <td><%= parliament_member.name %></td>
            <td><%= parliament_member.fraksi %></td>
            <td><%= parliament_member.dapil %></td>
            <td><%= link_to 'Lihat', parliament_member %></td>
            <td><%= link_to 'Edit', edit_parliament_member_path(parliament_member) %></td>
            <td><%= link_to 'Hapus', parliament_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Tambah Wakil Rakyat', new_parliament_member_path, class: "btn btn-success" %>

  </div>
</div>
