
<%= simple_form_for(@parliament) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nama" %>
    <%= f.input :dapil, label: "Daerah Pemilihan" %>
    <%= f.input :fraksi, label: "Fraksi" %>
    <%= f.input :jabatan_fraksi, label: "Jabatan Fraksi", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"], include_blank: false  %>
    <%= f.input :komisi, label: "Komisi" %>
    <%= f.input :jabatan_komisi, label: "Jabatan Komisi", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"]  %>
    <%= f.input :jabatan_badan_anggaran, label: "Badan Anggaran", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"]  %>
    <%= f.input :jabatan_badan_musyawarah, label: "Badan Musyawarah", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"]  %>
    <%= f.input :jabatan_badan_kehormatan, label: "Badan Kehormatan", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"]  %>
    <%= f.input :jabatan_badan_legislatif, label: "Badan Legislatif", collection: ["Penasehat", "Ketua", "Wakil Ketua", "Sekertaris", "Bendahara", "Anggota"]  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
