<div class="container">
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= link_to '+ Tambah Wakil Rakyat', new_parliament_path, class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 clas="lead">Daftar Anggota Wakil Rakyat</h3>
    </div>

  </div>
  <div class="row">
    <% @parliaments.each do |parliament| %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <hr>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <%= image_tag("unknown_person.png", size: "100x100") %>
      <%#= image_tag parliament.avatar.url(:thumb) %>
    </div>
    <div class="col-xs-6 col-sm-10 col-md-10 ">
      <div class="row"><strong><%= link_to parliament.name, parliament %></strong></div>
      <div class="row"><strong>Tempat,&nbsp;Tanggal Lahir&nbsp;:</strong>&nbsp;&nbsp;<%= parliament.tempat_lahir %>,&nbsp;<%= parliament.tanggal_lahir %></div>
      <div class="row"><strong>Fraksi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;<%= parliament.fraksi %></div>
    </div>
    <% end %>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= will_paginate @parliaments, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= link_to 'Excel Download', parliaments_path(:format => :xls) %>
      <%= form_tag upload_parliaments_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Upload Xls" %>
      <% end %>
    </div>
  </div>
  <br>
  <br>




</div>
