

<p>
  <strong>Name:</strong>
  <%= @parliament.name %>
</p>

<p>
  <strong>Dapil:</strong>
  <%= @parliament.dapil %>
</p>

<p>
  <strong>Fraksi:</strong>
  <%= @parliament.fraksi %>
</p>

<p>
  <strong>Jabatan fraksi:</strong>
  <%= @parliament.jabatan_fraksi %>
</p>

<p>
  <strong>Komisi:</strong>
  <%= @parliament.komisi %>
</p>

<p>
  <strong>Jabatan komisi:</strong>
  <%= @parliament.jabatan_komisi %>
</p>

<p>
  <strong>Jabatan badan anggaran:</strong>
  <%= @parliament.jabatan_badan_anggaran %>
</p>

<p>
  <strong>Jabatan badan musyawarah:</strong>
  <%= @parliament.jabatan_badan_musyawarah %>
</p>

<p>
  <strong>Jabatan badan kehormatan:</strong>
  <%= @parliament.jabatan_badan_kehormatan %>
</p>

<p>
  <strong>Jabatan badan legislatif:</strong>
  <%= @parliament.jabatan_badan_legislatif %>
</p>

<%= link_to 'Edit', edit_parliament_path(@parliament) %> |
<%= link_to 'Back', parliaments_path %>
